.container{
  background-color: #757c89;
  padding-top: 50px;
  font-weight: bold;
}

#roll{
  font-weight: bold;
  font-size: large;
}

#play1{
  float: left;
}

#play2{
  float: right;
}

#new-game{
  text-align: left;
  font-weight: bold;
  font-size: 20px;
}
